html, body {
  height: 100%;
  width: 100%;
}

#text1 {

  font-size: 14px;
  margin-top: 1px;
  
}

#numeros{

  width: 300px;
    
}

p{

  font-size: 8px;
  margin-top: 0;
  
}

#botao button{
  width: 50px;
  background-color: #29a7f5;
  border: none;
  color: #fff;
  font-size: 9px;
  padding: 8px;
  border-radius: 5px;
}